{{#link-to 'index'}}
  <i class='glyphicon glyphicon-chevron-left'></i>Back
{{/link-to}}
<h1>{{title}}</h1>

<div class="form-group">
{{input type="text" id="new-item" class="form-control" placeholder="New Item"
value=newItem action="createNewItem"}}
</div>

<ul class="list-group">
  {{#each items}}
   <li class="list-group-item">
   {{name}}
   </li>
  {{/each}}
</ul>
