{{#link-to 'index'}}
  <i class='glyphicon glyphicon-chevron-left'></i>Back
{{/link-to}}

<h1>All items</h1>

<ul class-"list-group">
  {{#each}}
    <li class="list-group-item">
      {{name}}
    </li>
  {{/each}}
</ul>
